@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

:root {
  --primary-color: rgb(20, 20, 20);
  --primary-color-lite: rgb(40, 40, 40);
  --light-grey: rgb(230, 230, 230);
  --orange-to-purple: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  background-image: var(--orange-to-purple);
}

main {
  background: #fff;
  border-radius: 10px;
  height: 75vh;
  display: flex;
  overflow: hidden;
  border: 2px solid black;
}

.img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img > img {
  width: 50%;
  height: auto;
}

.calc-imc {
  width: 50%;
  background: var(--light-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calc-imc > h1 {
  text-align: left;
}

form > input, form > button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form > input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form > input:focus {
  outline: 1px solid var(--primary-color);
}

form > button {
  border: none;
  background: var(--primary-color-lite);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 5px;
}

form > button:hover {
  background: var(--primary-color);
}

.ajuda > img {
  width: 17px;
  height: auto;
  margin-left: 10px;
}

#peso {
  position: relative;
  background-image: url(../img/weight-icon.svg);
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: 25px;
  padding-left: 40px;
}

#altura {
  position: relative;
  background-image: url(../img/ruler-icon.svg);
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: 25px;
  padding-left: 40px;
}

#msg {
  font-weight: 700;
  display: none;
  margin: 0;
  margin-top: 1rem;
}

#creditos {
  margin: 0;
  margin-top: 1rem;
  font-weight: 700;
}
#msg.show {
  display: block;
}

@media only screen and (max-width: 768px) {
  * {
    padding: 0;
    margin: 0;
  }

  main {
    flex-direction: column;
    height: auto;
    align-items: center;
    width: 50vw;
  }

  .img {
    width: 100%;
    padding-top: 30px;
    background: var(--light-grey);
  }

  .img > img {
    width: 35%;
  }

  .calc-imc {
    width: 100%;
    padding: 30px 20px;
  }

  #msg, #creditos {
    margin-top: 0.5rem;
  }
}

@media only screen and (max-width: 426px) {
  main {
    width: 90vw;
  }
}